@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color: #dde1d4;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  place-items: center center;
  font-size: 2.5em;
  height: 800px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.grid-big {
  grid-row: span 2;
  grid-column: span 2;
}

.bg-antiquewhite {
  background: antiquewhite;
}
.bg-seagreen {
  background: seagreen;
}
.bg-orangered {
  background: orangered;
}
.bg-pink {
  background: pink;
}
.bg-royalblue {
  background: royalblue;
}
.bg-sandybrown {
  background: sandybrown;
}
.bg-coral {
  background: coral;
}

.font-orangered {
  color: orangered;
}
.font-white {
  color: white;
}
